<footer>
<div id="container">
<div class="footer-nav">
    <div class="footer-nav-block">
        <h5><a href="{{ site.github.url }}/strategy-articles"><img src="{{ site.github.url }}/images/ftr-strategy-articles.png"></a></h5>
    How do you do planning? What’s an insight? Where do ideas come from? Who am I? Words here.
    </div>

   <div class="footer-nav-block">
       <h5><a href="{{ site.github.url }}/strategy-resources"><img src="{{ site.github.url }}/images/ftr-strategy-resources.png"></a></h5>
    Humans aren’t resources but these tools, templates, and exercises are.</div>

    <div class="footer-nav-block">
        <a href="{{ site.github.url }}/sweathead-podcast"> <h5><img src="{{ site.github.url }}/images/ftr-sweathead-podcast.png"></h5></a>
    It’s called Sweathead. It’s life support for independent thinkers and it plugs into your ears. </div>

    <div class="footer-nav-block">
        <h5><a href="{{ site.github.url }}/about-mark-pollard"><img src="{{ site.github.url }}/images/ftr-about-mark-pollard.png"></a></h5>
    If you need the story or a biography and photos, these things are here. </div>
    </div>


    <div class="cta">
<div class="newsletter">
        <p>A sick strategy life starts with a sick inbox. Get me in yours.</p>
<!--    <form action="" method="post" ><p><input type="text" name="email" id="tlemail" value "email"/><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" id/></form></p>-->

    <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://markpollard.us1.list-manage.com/subscribe/post?u=dfb4c80f84a49d4cfc0d34490&amp;id=c66948a2fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dfb4c80f84a49d4cfc0d34490_c66948a2fc" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

</div>


<div class="work-with-me"><a href="/work-with-me">
    <img src="http://www.jarrettfuller.com/markpollard.net/images/markers.png">
    <h2>Work with me</h2>
            <p>If you’re interested in an adventure in clear thinking, I do talks, training, research, strategy, and words with companies at Mighty Jungle. Adventurers have included The Economist, Decoded, Mozilla, Havas, McCann, and TBWA/MAL. </p></a>
</div>
</div>

<section class="clear"></section>

    <div class="social">
        <h2>Need more strategy adventure in your life? Try some of these:</h2>

        <p>
            <a href=""><i class="fas fa-envelope-square"></i> Inbox abuse</a>

            <a href="http://instagram.com/markpollard"><i class="fab fa-instagram"></i> Secret stories</a>

            <a href="https://www.linkedin.com/company-beta/2559165/"><i class="fab fa-linkedin"></i> Career enhancement</a>

            <a href="http://www.twitter.com/markpollard"><i class="fab fa-twitter-square"></i> Thinking aloud</a>

            <a href=""><i class="fab fa-facebook-square"></i> Strategy gang</a>

            <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i> An earful</a>
</p>
<!--
                 <a href="https://www.linkedin.com/company-beta/2559165/"><i class="fab fa-linkedin"></i></a>

                <a href="http://www.twitter.com/markpollard"><i class="fab fa-twitter-square"></i>
                </a>

                <a href="http://instagram.com/markpollard"><i class="fab fa-instagram"></i>
                </a>

                <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

                <a href="https://www.youtube.com/channel/UCfeZ325IgWnG6z3b0k4AVbA"><i class="fab fa-youtube-square"></i>
                </a>

                <a href="http://eepurl.com/dscjW5"><i class="fas fa-envelope-square"></i>
                </a>
-->
    </div>

<div class="colophon">

    <div class="left">
        <p>&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> Mark Pollard | <a href="{{ site.github.url }}/contact">Contact</a> | <a href="{{ site.github.url }}/privacy-policy">Privacy Policy</a> | <a href="{{ site.github.url }}/terms-and-conditions">Terms and Conditions</a></p>
    </div>

        <div class="right">
<!--
            <p>
            <a href="">Inbox abuse</a> | <a href="http://instagram.com/markpollard">Secret stories</a> | <a href="https://www.linkedin.com/company-beta/2559165/">Career enhancement</a> | <a href="http://www.twitter.com/markpollard">Thinking aloud</a> | <a href="">Strategy gang</a> | <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809">An earful</a>
</p>
                 <a href="https://www.linkedin.com/company-beta/2559165/"><i class="fab fa-linkedin"></i></a>

                <a href="http://www.twitter.com/markpollard"><i class="fab fa-twitter-square"></i>
                </a>

                <a href="http://instagram.com/markpollard"><i class="fab fa-instagram"></i>
                </a>

                <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

                <a href="https://www.youtube.com/channel/UCfeZ325IgWnG6z3b0k4AVbA"><i class="fab fa-youtube-square"></i>
                </a>

                <a href="http://eepurl.com/dscjW5"><i class="fas fa-envelope-square"></i>
                </a>
-->

            </div>

    </div>
    </div>
    </footer>
