<footer>
<div id="container">
<div class="footer-nav">
    <div class="footer-nav-block">
        <h5><a href="{{ site.github.url }}/strategy-articles"><img src="{{ site.github.url }}/images/footer-articles-01.png"></a></h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at facilisis nisi, finibus ultrices turpis.
    </div>

   <div class="footer-nav-block">
       <h5><a href="{{ site.github.url }}/strategy-resources"><img src="{{ site.github.url }}/images/footer-resources-04.png"></a></h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at facilisis nisi, finibus ultrices turpis.</div>

    <div class="footer-nav-block">
        <a href="{{ site.github.url }}/sweathead-podcast"> <h5><img src="{{ site.github.url }}/images/footer-podcast-02.png"></h5></a>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at facilisis nisi, finibus ultrices turpis.</div>

    <div class="footer-nav-block">
        <h5><a href="{{ site.github.url }}/about-mark-pollard"><img src="{{ site.github.url }}/images/footer-about-mark-pollard.png"></a></h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at facilisis nisi, finibus ultrices turpis.</div>
    </div>


    <div class="cta">
<div class="newsletter">
        <p>Join the 3000+ people to Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <form action="" method="post" ><p><input type="text" name="email" id="tlemail" value "email"/><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" id/></form></p>
</div>


<div class="work-with-me"><a href="/work-with-me">
    <img src="http://www.jarrettfuller.com/markpollard.net/images/markers.png">
    <h2>Work With Me</h2>
            <p>Join the 3000+ people to Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></a>
</div>
</div>

<section class="clear"></section>

    <div class="social">
        <h2>Need more strategy adventure in your life? Try some of these:</h2>

        <p>
            <a href=""><i class="fas fa-envelope-square"></i> Inbox abuse</a>

            <a href="http://instagram.com/markpollard"><i class="fab fa-instagram"></i> Secret stories</a>

            <a href="https://www.linkedin.com/company-beta/2559165/"><i class="fab fa-linkedin"></i> Career enhancement</a>

            <a href="http://www.twitter.com/markpollard"><i class="fab fa-twitter-square"></i> Thinking aloud</a>

            <a href=""><i class="fab fa-facebook-square"></i> Strategy gang</a>

            <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i> An earful</a>
</p>
<!--
                 <a href="https://www.linkedin.com/company-beta/2559165/"><i class="fab fa-linkedin"></i></a>

                <a href="http://www.twitter.com/markpollard"><i class="fab fa-twitter-square"></i>
                </a>

                <a href="http://instagram.com/markpollard"><i class="fab fa-instagram"></i>
                </a>

                <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

                <a href="https://www.youtube.com/channel/UCfeZ325IgWnG6z3b0k4AVbA"><i class="fab fa-youtube-square"></i>
                </a>

                <a href="http://eepurl.com/dscjW5"><i class="fas fa-envelope-square"></i>
                </a>
-->
    </div>

<div class="colophon">

    <div class="left">
        <p>&copy <script language="javascript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
            </script> Mark Pollard | <a href="{{ site.github.url }}/contact">Contact</a> | <a href="{{ site.github.url }}/privacy-policy">Privacy Policy</a> | <a href="{{ site.github.url }}/terms-and-conditions">Terms and Conditions</a></p>
    </div>

        <div class="right">
<!--
            <p>
            <a href="">Inbox abuse</a> | <a href="http://instagram.com/markpollard">Secret stories</a> | <a href="https://www.linkedin.com/company-beta/2559165/">Career enhancement</a> | <a href="http://www.twitter.com/markpollard">Thinking aloud</a> | <a href="">Strategy gang</a> | <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809">An earful</a>
</p>
                 <a href="https://www.linkedin.com/company-beta/2559165/"><i class="fab fa-linkedin"></i></a>

                <a href="http://www.twitter.com/markpollard"><i class="fab fa-twitter-square"></i>
                </a>

                <a href="http://instagram.com/markpollard"><i class="fab fa-instagram"></i>
                </a>

                <a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

                <a href="https://www.youtube.com/channel/UCfeZ325IgWnG6z3b0k4AVbA"><i class="fab fa-youtube-square"></i>
                </a>

                <a href="http://eepurl.com/dscjW5"><i class="fas fa-envelope-square"></i>
                </a>
-->

            </div>

    </div>
    </div>
    </footer>
