---
layout: default
---

<!--
<sidebar class="podcast-sidebar">

<img src="https://s3-us-west-2.amazonaws.com/anchor-generated-image-bank/production/podcast_uploaded_nologo400/446865/446865-1523403351176-e6bb2c362b809.jpg">

<img src="{{ site.github.url }}/images/subscribe-podcast.png" id="sort">
<p><a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zNDI3MzI0L3BvZGNhc3QvcnNz"><i class="fab fa-google-play"></i></a>

<a href="https://open.spotify.com/show/2Vh5jVI1EdMDeHs3N8XoME"><i class="fab fa-spotify"></i></a>    </p>

</sidebar>
-->


<div class="podcast-header">
    <img src="https://s3-us-west-2.amazonaws.com/anchor-generated-image-bank/production/podcast_uploaded_nologo400/446865/446865-1523403351176-e6bb2c362b809.jpg">

    <div class="podcast-description">
    {{ page.description }}

        <p><a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zNDI3MzI0L3BvZGNhc3QvcnNz"><i class="fab fa-google-play"></i></a>

<a href="https://open.spotify.com/show/2Vh5jVI1EdMDeHs3N8XoME"><i class="fab fa-spotify"></i></a>    </p>


    </div>

    </div>

<!--
{% if page.featured %}
 <h2>Featured Episode</h2>
<iframe src="{{page.featured}}" width="100%" frameborder="0" scrolling="no"></iframe>
{% endif %}
-->

<article class="podcast">

<div class="favorite-podcasts">
<img src="{{ site.github.url }}/images/favorite-episodes-06.png">

    <div class="podcast-list">
{{ content }}
        </div>

<!--
    <img src="{{ site.github.url }}/images/subscribe-podcast.png" id="sort">
<p><a href="https://itunes.apple.com/us/podcast/sweathead-with-mark-pollard/id1370723809"><i class="fab fa-itunes"></i></a>

<a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zNDI3MzI0L3BvZGNhc3QvcnNz"><i class="fab fa-google-play"></i></a>

<a href="https://open.spotify.com/show/2Vh5jVI1EdMDeHs3N8XoME"><i class="fab fa-spotify"></i></a>    </p>
-->
</div>

</article>



